.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
     
    height: auto;
    width: 80%;
    
}
.count{
    text-align: center;
    padding-top: 2px;
    color: black;
    font-size: 15px;
    
}
.box p{
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
    color: black;
}

.alert{
    display: none;
}